
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #a19c9c;
    font-family: sans-serif;
    color: black;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
